<form action='/advertiser/campaigns/create' method='post'>
  Name<input type='text' name='name'><br>
  Advertiser<input type='text' name='advertiser'><br>
  <input type='submit' value="Submit">
</form>
