<table>
<tr>
<th>id</th>
<th>Campaign</th>
</tr>
<% _.each(campaigns, function (campaign) { %>
    <tr>
    <td><%= campaign.id %>
    <td><a href='<%= "/advertiser/" + campaign.advertiser + "/" + campaign.id %>'><%= campaign.name %></a></td>
    </tr>
    <% }) %>
</table>
